name: Deployment
on: push
jobs:
    prepare:
        runs-on: ubuntu-latest
        steps:
            - name: Get code
              uses: actions/checkout@v3
            - name: Install dependencies
              run: npm ci
            - name: Lint
              run: npm run lint
            - name: Test code
              run: npm run test
    deploy:
        runs-on: ubuntu-latest
        needs: prepare
        steps:
            - name: Get code
              uses: actions/checkout@v3
            - name: Install dependencies
              run: npm ci
            - name: Build code
              run: npm run build
            - name: Deploy code
              run: echo "Deploying code..."